<html xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel"
    xmlns="http://www.w3.org/TR/REC-html40">

<head>
    <meta http-equiv=Content-Type content="text/html; charset=ks_c_5601-1987">
    <meta name=ProgId content=Excel.Sheet>
    <meta name=Generator content="Microsoft Excel 12">
    <link rel=File-List href="0.files/filelist.xml">
    <!--[if !mso]>
<style>
v\:* {behavior:url(#default#VML);}
o\:* {behavior:url(#default#VML);}
x\:* {behavior:url(#default#VML);}
.shape {behavior:url(#default#VML);}
</style>
<![endif]-->
    <style id="0.표준_견적서_31529_Styles">
        <!--table {
            mso-displayed-decimal-separator: "\.";
            mso-displayed-thousand-separator: "\,";
        }

        .font531529 {
            color: windowtext;
            font-size: 8.0pt;
            font-weight: 400;
            font-style: normal;
            text-decoration: none;
            font-family: "맑은 고딕", monospace;
            mso-font-charset: 129;
        }

        .xl1531529 {
            padding: 0px;
            mso-ignore: padding;
            color: black;
            font-size: 11.0pt;
            font-weight: 400;
            font-style: normal;
            text-decoration: none;
            font-family: "맑은 고딕", monospace;
            mso-font-charset: 129;
            mso-number-format: General;
            text-align: general;
            vertical-align: middle;
            mso-background-source: auto;
            mso-pattern: auto;
            white-space: nowrap;
        }

        .xl6331529 {
            padding: 0px;
            mso-ignore: padding;
            color: black;
            font-size: 10.5pt;
            font-weight: 400;
            font-style: normal;
            text-decoration: none;
            font-family: "맑은 고딕", monospace;
            mso-font-charset: 129;
            mso-number-format: General;
            text-align: general;
            vertical-align: middle;
            mso-background-source: auto;
            mso-pattern: auto;
            white-space: nowrap;
        }

        .xl6431529 {
            padding: 0px;
            mso-ignore: padding;
            color: black;
            font-size: 10.5pt;
            font-weight: 400;
            font-style: normal;
            text-decoration: none;
            font-family: "맑은 고딕", monospace;
            mso-font-charset: 129;
            mso-number-format: General;
            text-align: left;
            vertical-align: middle;
            mso-background-source: auto;
            mso-pattern: auto;
            white-space: nowrap;
        }

        .xl6531529 {
            padding: 0px;
            mso-ignore: padding;
            color: black;
            font-size: 10.5pt;
            font-weight: 400;
            font-style: normal;
            text-decoration: none;
            font-family: "맑은 고딕", monospace;
            mso-font-charset: 129;
            mso-number-format: "\@";
            text-align: left;
            vertical-align: middle;
            mso-background-source: auto;
            mso-pattern: auto;
            white-space: nowrap;
        }

        .xl6631529 {
            padding: 0px;
            mso-ignore: padding;
            color: black;
            font-size: 10.5pt;
            font-weight: 400;
            font-style: normal;
            text-decoration: none;
            font-family: "맑은 고딕", monospace;
            mso-font-charset: 129;
            mso-number-format: General;
            text-align: right;
            vertical-align: middle;
            border-top: none;
            border-right: none;
            border-bottom: .5pt solid windowtext;
            border-left: none;
            mso-background-source: auto;
            mso-pattern: auto;
            white-space: nowrap;
        }

        .xl6731529 {
            padding: 0px;
            mso-ignore: padding;
            color: black;
            font-size: 10.5pt;
            font-weight: 400;
            font-style: normal;
            text-decoration: none;
            font-family: "맑은 고딕", monospace;
            mso-font-charset: 129;
            mso-number-format: General;
            text-align: center;
            vertical-align: middle;
            border: .5pt solid windowtext;
            background: #D9D9D9;
            mso-pattern: #B9CDE5 none;
            white-space: nowrap;
        }

        .xl6831529 {
            padding: 0px;
            mso-ignore: padding;
            color: black;
            font-size: 10.5pt;
            font-weight: 400;
            font-style: normal;
            text-decoration: none;
            font-family: "맑은 고딕", monospace;
            mso-font-charset: 129;
            mso-number-format: General;
            text-align: center;
            vertical-align: middle;
            border: .5pt solid windowtext;
            mso-background-source: auto;
            mso-pattern: auto;
            white-space: nowrap;
        }

        .xl6931529 {
            padding: 0px;
            mso-ignore: padding;
            color: black;
            font-size: 10.5pt;
            font-weight: 400;
            font-style: normal;
            text-decoration: none;
            font-family: "맑은 고딕", monospace;
            mso-font-charset: 129;
            mso-number-format: General;
            text-align: center;
            vertical-align: middle;
            border: .5pt solid windowtext;
            background: #F2F2F2;
            mso-pattern: white none;
            white-space: nowrap;
        }

        .xl7031529 {
            padding: 0px;
            mso-ignore: padding;
            color: black;
            font-size: 10.5pt;
            font-weight: 400;
            font-style: normal;
            text-decoration: none;
            font-family: "맑은 고딕", monospace;
            mso-font-charset: 129;
            mso-number-format: General;
            text-align: general;
            vertical-align: middle;
            border: .5pt solid windowtext;
            mso-background-source: auto;
            mso-pattern: auto;
            white-space: nowrap;
        }

        .xl7131529 {
            padding: 0px;
            mso-ignore: padding;
            color: black;
            font-size: 10.5pt;
            font-weight: 400;
            font-style: normal;
            text-decoration: none;
            font-family: "맑은 고딕", monospace;
            mso-font-charset: 129;
            mso-number-format: "\#\,\#\#0_\)\;\\\(\#\,\#\#0\\\)";
            text-align: general;
            vertical-align: middle;
            border: .5pt solid windowtext;
            mso-background-source: auto;
            mso-pattern: auto;
            white-space: nowrap;
        }

        .xl7231529 {
            padding: 0px;
            mso-ignore: padding;
            color: windowtext;
            font-size: 10.5pt;
            font-weight: 400;
            font-style: normal;
            text-decoration: none;
            font-family: "맑은 고딕", monospace;
            mso-font-charset: 129;
            mso-number-format: General;
            text-align: general;
            vertical-align: middle;
            border: .5pt solid windowtext;
            mso-background-source: auto;
            mso-pattern: auto;
            white-space: nowrap;
        }

        .xl7331529 {
            padding: 0px;
            mso-ignore: padding;
            color: black;
            font-size: 10.5pt;
            font-weight: 400;
            font-style: normal;
            text-decoration: none;
            font-family: "맑은 고딕", monospace;
            mso-font-charset: 129;
            mso-number-format: General;
            text-align: general;
            vertical-align: middle;
            border: .5pt solid windowtext;
            background: white;
            mso-pattern: #F2F2F2 none;
            white-space: nowrap;
        }

        .xl7431529 {
            padding: 0px;
            mso-ignore: padding;
            color: black;
            font-size: 10.5pt;
            font-weight: 400;
            font-style: normal;
            text-decoration: none;
            font-family: "맑은 고딕", monospace;
            mso-font-charset: 129;
            mso-number-format: "\@";
            text-align: general;
            vertical-align: middle;
            border: .5pt solid windowtext;
            mso-background-source: auto;
            mso-pattern: auto;
            white-space: nowrap;
        }

        .xl7531529 {
            padding: 0px;
            mso-ignore: padding;
            color: red;
            font-size: 10.5pt;
            font-weight: 400;
            font-style: normal;
            text-decoration: none;
            font-family: "맑은 고딕", monospace;
            mso-font-charset: 129;
            mso-number-format: General;
            text-align: general;
            vertical-align: middle;
            border: .5pt solid windowtext;
            mso-background-source: auto;
            mso-pattern: auto;
            white-space: nowrap;
        }

        .xl7631529 {
            padding: 0px;
            mso-ignore: padding;
            color: red;
            font-size: 10.5pt;
            font-weight: 400;
            font-style: normal;
            text-decoration: none;
            font-family: "맑은 고딕", monospace;
            mso-font-charset: 129;
            mso-number-format: "\@";
            text-align: general;
            vertical-align: middle;
            border: .5pt solid windowtext;
            mso-background-source: auto;
            mso-pattern: auto;
            white-space: nowrap;
        }

        .xl7731529 {
            padding: 0px;
            mso-ignore: padding;
            color: red;
            font-size: 10.5pt;
            font-weight: 400;
            font-style: normal;
            text-decoration: none;
            font-family: Arial, sans-serif;
            mso-font-charset: 0;
            mso-number-format: General;
            text-align: general;
            vertical-align: bottom;
            border: .5pt solid windowtext;
            mso-background-source: auto;
            mso-pattern: auto;
            white-space: nowrap;
        }

        .xl7831529 {
            padding: 0px;
            mso-ignore: padding;
            color: black;
            font-size: 10.5pt;
            font-weight: 400;
            font-style: normal;
            text-decoration: none;
            font-family: "맑은 고딕", monospace;
            mso-font-charset: 129;
            mso-number-format: General;
            text-align: center;
            vertical-align: middle;
            border-top: .5pt solid windowtext;
            border-right: .5pt solid windowtext;
            border-bottom: none;
            border-left: .5pt solid windowtext;
            background: #F2F2F2;
            mso-pattern: white none;
            white-space: nowrap;
        }

        .xl7931529 {
            padding: 0px;
            mso-ignore: padding;
            color: windowtext;
            font-size: 10.5pt;
            font-weight: 400;
            font-style: normal;
            text-decoration: none;
            font-family: "맑은 고딕", monospace;
            mso-font-charset: 129;
            mso-number-format: General;
            text-align: general;
            vertical-align: middle;
            border-top: .5pt solid windowtext;
            border-right: .5pt solid windowtext;
            border-bottom: none;
            border-left: .5pt solid windowtext;
            mso-background-source: auto;
            mso-pattern: auto;
            white-space: nowrap;
        }

        .xl8031529 {
            padding: 0px;
            mso-ignore: padding;
            color: black;
            font-size: 10.5pt;
            font-weight: 400;
            font-style: normal;
            text-decoration: none;
            font-family: "맑은 고딕", monospace;
            mso-font-charset: 129;
            mso-number-format: General;
            text-align: left;
            vertical-align: middle;
            border-top: .5pt solid windowtext;
            border-right: none;
            border-bottom: none;
            border-left: .5pt solid windowtext;
            mso-background-source: auto;
            mso-pattern: auto;
            white-space: nowrap;
        }

        .xl8131529 {
            padding: 0px;
            mso-ignore: padding;
            color: black;
            font-size: 10.5pt;
            font-weight: 400;
            font-style: normal;
            text-decoration: none;
            font-family: "맑은 고딕", monospace;
            mso-font-charset: 129;
            mso-number-format: General;
            text-align: left;
            vertical-align: middle;
            border: .5pt solid windowtext;
            mso-background-source: auto;
            mso-pattern: auto;
            white-space: nowrap;
        }

        .xl8231529 {
            padding: 0px;
            mso-ignore: padding;
            color: black;
            font-size: 10.0pt;
            font-weight: 400;
            font-style: normal;
            text-decoration: none;
            font-family: "맑은 고딕", monospace;
            mso-font-charset: 129;
            mso-number-format: General;
            text-align: center;
            vertical-align: middle;
            border-top: .5pt solid windowtext;
            border-right: none;
            border-bottom: none;
            border-left: .5pt solid windowtext;
            background: #D9D9D9;
            mso-pattern: #B9CDE5 none;
            white-space: normal;
        }

        .xl8331529 {
            padding: 0px;
            mso-ignore: padding;
            color: black;
            font-size: 10.0pt;
            font-weight: 400;
            font-style: normal;
            text-decoration: none;
            font-family: "맑은 고딕", monospace;
            mso-font-charset: 129;
            mso-number-format: General;
            text-align: center;
            vertical-align: middle;
            border-top: .5pt solid windowtext;
            border-right: none;
            border-bottom: none;
            border-left: none;
            background: #D9D9D9;
            mso-pattern: #B9CDE5 none;
            white-space: normal;
        }

        .xl8431529 {
            padding: 0px;
            mso-ignore: padding;
            color: black;
            font-size: 10.0pt;
            font-weight: 400;
            font-style: normal;
            text-decoration: none;
            font-family: "맑은 고딕", monospace;
            mso-font-charset: 129;
            mso-number-format: General;
            text-align: center;
            vertical-align: middle;
            border-top: .5pt solid windowtext;
            border-right: .5pt solid windowtext;
            border-bottom: none;
            border-left: none;
            background: #D9D9D9;
            mso-pattern: #B9CDE5 none;
            white-space: normal;
        }

        .xl8531529 {
            padding: 0px;
            mso-ignore: padding;
            color: black;
            font-size: 10.0pt;
            font-weight: 400;
            font-style: normal;
            text-decoration: none;
            font-family: "맑은 고딕", monospace;
            mso-font-charset: 129;
            mso-number-format: General;
            text-align: center;
            vertical-align: middle;
            border-top: none;
            border-right: none;
            border-bottom: none;
            border-left: .5pt solid windowtext;
            background: #D9D9D9;
            mso-pattern: #B9CDE5 none;
            white-space: normal;
        }

        .xl8631529 {
            padding: 0px;
            mso-ignore: padding;
            color: black;
            font-size: 10.0pt;
            font-weight: 400;
            font-style: normal;
            text-decoration: none;
            font-family: "맑은 고딕", monospace;
            mso-font-charset: 129;
            mso-number-format: General;
            text-align: center;
            vertical-align: middle;
            background: #D9D9D9;
            mso-pattern: #B9CDE5 none;
            white-space: normal;
        }

        .xl8731529 {
            padding: 0px;
            mso-ignore: padding;
            color: black;
            font-size: 10.0pt;
            font-weight: 400;
            font-style: normal;
            text-decoration: none;
            font-family: "맑은 고딕", monospace;
            mso-font-charset: 129;
            mso-number-format: General;
            text-align: center;
            vertical-align: middle;
            border-top: none;
            border-right: .5pt solid windowtext;
            border-bottom: none;
            border-left: none;
            background: #D9D9D9;
            mso-pattern: #B9CDE5 none;
            white-space: normal;
        }

        .xl8831529 {
            padding: 0px;
            mso-ignore: padding;
            color: black;
            font-size: 10.0pt;
            font-weight: 400;
            font-style: normal;
            text-decoration: none;
            font-family: "맑은 고딕", monospace;
            mso-font-charset: 129;
            mso-number-format: General;
            text-align: center;
            vertical-align: middle;
            border-top: none;
            border-right: none;
            border-bottom: .5pt solid windowtext;
            border-left: .5pt solid windowtext;
            background: #D9D9D9;
            mso-pattern: #B9CDE5 none;
            white-space: normal;
        }

        .xl8931529 {
            padding: 0px;
            mso-ignore: padding;
            color: black;
            font-size: 10.0pt;
            font-weight: 400;
            font-style: normal;
            text-decoration: none;
            font-family: "맑은 고딕", monospace;
            mso-font-charset: 129;
            mso-number-format: General;
            text-align: center;
            vertical-align: middle;
            border-top: none;
            border-right: none;
            border-bottom: .5pt solid windowtext;
            border-left: none;
            background: #D9D9D9;
            mso-pattern: #B9CDE5 none;
            white-space: normal;
        }

        .xl9031529 {
            padding: 0px;
            mso-ignore: padding;
            color: black;
            font-size: 10.0pt;
            font-weight: 400;
            font-style: normal;
            text-decoration: none;
            font-family: "맑은 고딕", monospace;
            mso-font-charset: 129;
            mso-number-format: General;
            text-align: center;
            vertical-align: middle;
            border-top: none;
            border-right: .5pt solid windowtext;
            border-bottom: .5pt solid windowtext;
            border-left: none;
            background: #D9D9D9;
            mso-pattern: #B9CDE5 none;
            white-space: normal;
        }

        .xl9131529 {
            padding: 0px;
            mso-ignore: padding;
            color: black;
            font-size: 9.0pt;
            font-weight: 400;
            font-style: normal;
            text-decoration: none;
            font-family: "맑은 고딕", monospace;
            mso-font-charset: 129;
            mso-number-format: General;
            text-align: center;
            vertical-align: middle;
            mso-background-source: auto;
            mso-pattern: auto;
            white-space: nowrap;
        }

        .xl9231529 {
            padding: 0px;
            mso-ignore: padding;
            color: black;
            font-size: 36.0pt;
            font-weight: 700;
            font-style: normal;
            text-decoration: none;
            font-family: HY견명조, serif;
            mso-font-charset: 129;
            mso-number-format: General;
            text-align: center;
            vertical-align: middle;
            mso-background-source: auto;
            mso-pattern: auto;
            white-space: nowrap;
        }

        .xl9331529 {
            padding: 0px;
            mso-ignore: padding;
            color: black;
            font-size: 14.0pt;
            font-weight: 700;
            font-style: normal;
            text-decoration: none;
            font-family: "맑은 고딕", monospace;
            mso-font-charset: 129;
            mso-number-format: General;
            text-align: right;
            vertical-align: middle;
            border-top: none;
            border-right: none;
            border-bottom: .5pt solid windowtext;
            border-left: none;
            mso-background-source: auto;
            mso-pattern: auto;
            white-space: nowrap;
        }

        .xl9431529 {
            padding: 0px;
            mso-ignore: padding;
            color: black;
            font-size: 18.0pt;
            font-weight: 700;
            font-style: normal;
            text-decoration: none;
            font-family: "맑은 고딕", monospace;
            mso-font-charset: 129;
            mso-number-format: "\#\,\#\#0_\)\;\\\(\#\,\#\#0\\\)";
            text-align: center;
            vertical-align: middle;
            border-top: none;
            border-right: none;
            border-bottom: .5pt solid windowtext;
            border-left: none;
            mso-background-source: auto;
            mso-pattern: auto;
            white-space: nowrap;
        }

        ruby {
            ruby-align: left;
        }

        rt {
            color: windowtext;
            font-size: 8.0pt;
            font-weight: 400;
            font-style: normal;
            text-decoration: none;
            font-family: "맑은 고딕", monospace;
            mso-font-charset: 129;
            mso-char-type: none;
        }

        -->

    </style>
</head>

<body>
    <h3 class="order-help">엑셀로 다운받는 방법</h3>
    <ol class="order-help">
        <li><a href="javascript:copyClipboard()">여기</a> 를 클릭하시면 클립보드에 견적서가 복사됩니다.</li>
        <li>엑셀 프로그램을 실행합니다.</li>
        <li>첫번째 셀을 선택하고 붙혀넣기(Ctrl + V)를 합니다.</li>
        <li>디자인을 다듬어줍니다.</li>
    </ol>
    <button type="button" class="order-help" onclick="CloseHelp()">도움말 닫기</button>


    <!--[if !excel]>　　<![endif]-->
    <!--다음 내용은 Microsoft Office Excel의 웹 페이지 마법사를 사용하여 작성되었습니다.-->
    <!--같은 내용의 항목이 다시 게시되면 DIV 태그 사이에 있는 내용이 변경됩니다.-->
    <!----------------------------->
    <!--Excel의 웹 페이지 마법사로 게시해서 나온 결과의 시작 -->
    <!----------------------------->

    <div id="0.표준_견적서_31529" align=center x:publishsource="Excel">

        <table border=0 cellpadding=0 cellspacing=0 width=984 style='border-collapse:
 collapse;table-layout:fixed;width:738pt'>
            <col width=63 style='mso-width-source:userset;mso-width-alt:2016;width:47pt'>
            <col width=188 style='mso-width-source:userset;mso-width-alt:6016;width:141pt'>
            <col width=378 style='mso-width-source:userset;mso-width-alt:12096;width:284pt'>
            <col width=56 style='mso-width-source:userset;mso-width-alt:1792;width:42pt'>
            <col width=99 style='mso-width-source:userset;mso-width-alt:3168;width:74pt'>
            <col width=97 style='mso-width-source:userset;mso-width-alt:3104;width:73pt'>
            <col width=103 style='mso-width-source:userset;mso-width-alt:3296;width:77pt'>
            <tr height=114 style='mso-height-source:userset;height:85.5pt'>
                <td colspan=7 height=114 class=xl9231529 width=984 style='height:85.5pt;
  width:738pt'>見 積 書</td>
            </tr>
            <tr class=xl6331529 height=22 style='mso-height-source:userset;height:17.1pt'>
                <td height=22 class=xl6331529 style='height:17.1pt'>수신</td>
                <td class=xl6431529>
                    <%=order['수신자']%> 귀하</td>
                <td class=xl6331529></td>
                <td class=xl6331529 colspan=2>㈜네오소프트뱅크</td>
                <td class=xl6331529></td>
                <td rowspan=5 height=110 class=xl6331529 width=103 style='mso-ignore:colspan-rowspan;
  height:85.5pt;width:77pt'>
                    <!--[if gte vml 1]><v:shapetype id="_x0000_t75"
   coordsize="21600,21600" o:spt="75" o:preferrelative="t" path="m@4@5l@4@11@9@11@9@5xe"
   filled="f" stroked="f">
   <v:stroke joinstyle="miter"/>
   <v:formulas>
    <v:f eqn="if lineDrawn pixelLineWidth 0"/>
    <v:f eqn="sum @0 1 0"/>
    <v:f eqn="sum 0 0 @1"/>
    <v:f eqn="prod @2 1 2"/>
    <v:f eqn="prod @3 21600 pixelWidth"/>
    <v:f eqn="prod @3 21600 pixelHeight"/>
    <v:f eqn="sum @0 0 1"/>
    <v:f eqn="prod @6 1 2"/>
    <v:f eqn="prod @7 21600 pixelWidth"/>
    <v:f eqn="sum @8 21600 0"/>
    <v:f eqn="prod @7 21600 pixelHeight"/>
    <v:f eqn="sum @10 21600 0"/>
   </v:formulas>
   <v:path o:extrusionok="f" gradientshapeok="t" o:connecttype="rect"/>
   <o:lock v:ext="edit" aspectratio="t"/>
  </v:shapetype><v:shape id="그림_x0020_2" o:spid="_x0000_s1025" type="#_x0000_t75"
   style='position:absolute;margin-left:10.5pt;margin-top:10.5pt;width:60.75pt;
   height:59.25pt;z-index:1;visibility:visible' o:gfxdata="UEsDBBQABgAIAAAAIQBamK3CDAEAABgCAAATAAAAW0NvbnRlbnRfVHlwZXNdLnhtbJSRwU7DMAyG
70i8Q5QralM4IITW7kDhCBMaDxAlbhvROFGcle3tSdZNgokh7Rjb3+8vyWK5tSObIJBxWPPbsuIM
UDltsK/5x/qleOCMokQtR4dQ8x0QXzbXV4v1zgOxRCPVfIjRPwpBagArqXQeMHU6F6yM6Rh64aX6
lD2Iu6q6F8phBIxFzBm8WbTQyc0Y2fM2lWcTjz1nT/NcXlVzYzOf6+JPIsBIJ4j0fjRKxnQ3MaE+
8SoOTmUi9zM0GE83SfzMhtz57fRzwYF7S48ZjAa2kiG+SpvMhQ4kvFFxEyBNlf/nZFFLhes6o6Bs
A61m8ih2boF2XxhgujS9Tdg7TMd0sf/X5hsAAP//AwBQSwMEFAAGAAgAAAAhAAjDGKTUAAAAkwEA
AAsAAABfcmVscy8ucmVsc6SQwWrDMAyG74O+g9F9cdrDGKNOb4NeSwu7GltJzGLLSG7avv1M2WAZ
ve2oX+j7xL/dXeOkZmQJlAysmxYUJkc+pMHA6fj+/ApKik3eTpTQwA0Fdt3qaXvAyZZ6JGPIoiol
iYGxlPymtbgRo5WGMqa66YmjLXXkQWfrPu2AetO2L5p/M6BbMNXeG+C934A63nI1/2HH4JiE+tI4
ipr6PrhHVO3pkg44V4rlAYsBz3IPGeemPgf6sXf9T28OrpwZP6phof7Oq/nHrhdVdl8AAAD//wMA
UEsDBBQABgAIAAAAIQBOx6eG+QEAAM8EAAASAAAAZHJzL3BpY3R1cmV4bWwueG1spFRbitswFP0v
dA9C/zN+JH4SexgaphRKm492ARpZHgtkyUhq4tlQt9B+dEXtJnpl2Q6BKZTJ39V9nHMfx97djb1A
R6YNV7LC0W2IEZNUNVw+Vfjrl4ebHCNjiWyIUJJV+JkZfFe/fbMbG10SSTulEUBIU4Kjwp21QxkE
hnasJ+ZWDUxCtFW6Jxae+iloNDkBeC+COAzTwAyakcZ0jNm9j+B6wrYn9Y4Jce8pWMPtvakw9OC8
c06rVe+zqRJ1ugtcU86cEMD43LZ1tNkUcbbGnGsKa3WqI+925uLzJVmSx2tsKpmwz4RWrST/Is6L
PMmLl4mTFfyCeFOE8Uu8C9vAqc+XxwOnBz338Ol40Ig3FY4xkqSHM/3+8fPP918oxsE5xRXAcxrk
ov5R8OGBC1gbKZ09H5S84pw94RLP9f8lB9W2nLK9ot96Jq3XhGaCWNCj6fhgMNIl6x8ZTKc/NBFG
FORoYcRBc2ndfKQ0VjNLu2v7XpZz3ofTkxncnkk5trq/lsHhwMRorHCeRAnoEqPnCmdJtI0SPwsb
LaIQz9JtmsI9qYtv8yjMXDzwfTicQRv7nqmre0IOCJbLqIXPipTk+NFYT7VQOLeQ1w6PThUuNmk4
sUjlFOdphJxV6Vc9CXRVOhUchLEnliznufgzzJX+T1T/BQAA//8DAFBLAwQUAAYACAAAACEAqiYO
vrwAAAAhAQAAHQAAAGRycy9fcmVscy9waWN0dXJleG1sLnhtbC5yZWxzhI9BasMwEEX3hdxBzD6W
nUUoxbI3oeBtSA4wSGNZxBoJSS317SPIJoFAl/M//z2mH//8Kn4pZRdYQde0IIh1MI6tguvle/8J
Ihdkg2tgUrBRhnHYffRnWrHUUV5czKJSOCtYSolfUma9kMfchEhcmzkkj6WeycqI+oaW5KFtjzI9
M2B4YYrJKEiT6UBctljN/7PDPDtNp6B/PHF5o5DOV3cFYrJUFHgyDh9h10S2IIdevjw23AEAAP//
AwBQSwMEFAAGAAgAAAAhAO99P9cOAQAAiAEAAA8AAABkcnMvZG93bnJldi54bWxsUMtOwzAQvCPx
D9YicaMOSfMg1KkqBKinSi0cOFqO8xCxHWyTR78eh4AiIY4zszM7u5vtIBrUcW1qJQncrjxAXDKV
17Ik8PrydJMAMpbKnDZKcgIjN7DNLi82NM1VL4+8O9kSuRBpUkqgsrZNMTas4oKalWq5dFqhtKDW
QV3iXNPehYsG+54XYUFr6TZUtOUPFWfvp09BYM+qjo1R+JE8hs/NOWZvfjgqQq6vht09IMsHuwz/
uPc5AR+mU9wZkLl+Q7OTrFIaFUdu6rMrP/OFVgJp1U8YMdUQiGDCh6Iw3Do2CILQ/cFJfyg8xVo1
m8N/zes48mfl13vnrZM4BOfFS6dvsDww+wIAAP//AwBQSwMECgAAAAAAAAAhAEZGNt0CLQAAAi0A
ABQAAABkcnMvbWVkaWEvaW1hZ2UxLnBuZ4lQTkcNChoKAAAADUlIRFIAAAByAAAAcggDAAAAuAN1
TwAAAwBQTFRF/uvr9MXK5ra6/v7+k0pYojlL14eZ16u125ml/t3j//b5yYiW2rO75Zmm6f31xniG
yKOruHiG6svSuGh2uFdmqFZm//X2mWly//r+8/rzx1Vny5uj/ePh16Ot/NLb1sXG5YeY+OXd//r6
9qm48/b0+vr6xWd3vIiS/vPtq2l2//L11ZWf5qOrxpOcpUlXkFhhtkhY//Hy//r2upKZ//L6zbm5
zUlbtYOK23WIyYSP//b++svR8Zmp9eLj9drd8srR68PN+9re/+7x9dPb7OXh67vCuamq/v76/dXg
2bvA//by9d3iqXuE8La7/+724sXL3sHA/+bz/M3Z5LvBp3J99vr59LvE/Ojl+v7+tXJ9/t7p0oSQ
5pSg9vX653iQ0WV47dba/+bv+vr2+fr+9NHVzKqx//72uk1k7dHWpFJew3J9uFBbqISK+Pf45NHU
9+vru1xw4auy/+rx9LXD7cjN7a+6//ry4sHF/+76+8TQ7LTCoV9q9vHttGNx9eXp+vb266qz/ubp
46658cbR23yQ9v7+7fXvgEVP+tTXq01g4KSw/+Lpx2yA9f75vp2i9M3Y+v76/vnu+fby88DK4NbT
5cnPvDZJ9vn9p6Wl7b3J/LvE//P9/+r28+zm446f+vf8+7/K+vLx+v72xGFw7eDh/LXD79verpea
/+Lv1G2G8fr47cHD8f7+mnh889LM+L3QsIuR47bB8aKsz3OA8KWypUJR1Y6du218kzRE7srE/dnX
+p6x+ebp9Iqj742czMrEzHuM5r7I8P73+vry+66++f7y89ff+uLo7c7N7dnV//7y5p6t+PL05dXZ
9e7x8Pr9+uft2K+z5Nvc29DM++7v1p6oloiG/vDi7Ki5/tfm9vjv5+Da3uPY+fP4/bnOrl1t0IKE
3Wp8+JSm9d3M+fL9vn6M++/1/sjX28zO11xny4+c8q6/5cfE+d7l/Onw/tHf5qe134KTuz9T7bS1
7u7sq5CQy7G03d/eyI6T9sjX3I6UnaOX3Fx5/Ov0yKWk////b1QOcQAAAQB0Uk5T////////////
////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////
////////////////////////AFP3ByUAAAABYktHRP+lB/LFAAAADGNtUFBKQ21wMDcxMgAAAANI
AHO8AAAojElEQVRoQ5WbCVwT59b/AxOBDPuSYSCgOBISJkBIGESCbEEMDBgMEpYAVcIaMAgoCERA
UER2gVpeDRIRaxGlLggoWgsuYEUr3MKr2NfGtoIWi4i2XPV/tf9BbW/t7XYf+MDnA5pvzjPPec45
v3Mg/fTfLIBY9LdL/Pb7/M/+m9f4ifS3//VrmlgqFYulBA0AdgG76HQBnfhCrP8G+zeRxEvGNxIE
QV3d1atXb1rtPHPmzLfffntz8eKbN2/WXbx8+UK1+O8a+7eQAMyTwzBa6evRsNVhq4PDi067NOe0
VrvOu6l3X7wYe3qml1SXkwQgdPjv7NlfI4FIsQrDcIomq9XScunSJ8T64IMPli4lvsyvJ0+cLb9b
tjxcY2cQk8uVRv71c/0rJLBLKoUgEP2ws2vBB/OseUYysZydly5d6vz2J0+WWn7dmepwJqLuopT+
V9A/RwL0uhwuF7Ja/YwwasECJ7tOR2vrE9sokp1Xzuzc6e2hOTL79VrLtK4PiLez1DKt9e5eEs7l
In8O/TMkQJfLcSt/f4coctnpDyxbWZrfkq4KBJx9+5KSDghWrOAKrl7mkCi9Hk9fmC4lmMT67oUm
hQOC8J9B/wQJyOnAD6teyNKcTstMX/j33hQAgPgik5NiHrwO4noGh/mC9RaqeyAGwjhp/4tW53mo
c9rd7EoerPoT5h8iCRMJ4so0Z2fnBZ17v61LWvGDqjE2ll+ce19GzhblHiOfPtYknLxx44YKXhcY
EkTxcFiWRjxqZ8sCXR8MJjz1j07vHyEBsUXSzadff/Cki6x4tRhBBOM93S8t5C1bLl/e56jQEUZu
cyrfg8Te23G7rvek5QdLv/vX1zbnvznfqXDqSrNsjemNbzwa+QfMP0BGqhDQKjNtwQddCwo0b3Kh
a1JJgaHI9ofCCGYOd6bAsDhyWznVQ0AgD/S+aF3QlWyZ7JzmvPYbj96xgq60tKXni2FV/B/Y+btI
4qZBsbzULue0BbK7HpTnxUW20twpY0nLvg2hq3x989Q9FMCnPMN317V77TlbzdLS+sYctFKp5WnJ
Njv5VqvsFjxZypoRCqHf95ffQwL0IiRrK3EcnjjdPbN4f6faH26vh/a4b+NtWKQuU9gXkN1IkT7l
BZW7bO+VcmKcLbf31nGKNaZM1eXlGTEJzN4XGU+ceo4JMaz09wz9HSRQj0ARJzOcn1i2brW6+ZS6
QOaPtNeDQn9d70OuVLbLau9MGrM0oIBavKvxnu2dU5ZpMfhFCIQeBeTr9yx9ktqbw9w5ZnbadKNI
GW/wO8z/RALSFnSne1qac+vJUD6fVSAz1GwD2lvqAR/yRFt9rS/OxSiM7yOx6AKrXTdUsbwZuy4d
LheEUAzj5Tb8a2l5dwQ3KSc0mpzxOA6wFf8n8z+QQGMR7pGatnSp3VMmACxOW5DaCwMIgNgK9MiG
QinKIUnuN5ezIjH9VKvqG7GxL/mrCqKeC2EedufaHXhyeYYTVQPdYgFLppxMhyJyCE/77cH9LRJo
bESCDNMsl3696uanK/8v9nyaTDNiw4O5wmqBCbXch06hmdsnLzh9eBeoUzC9q/1e7J0Wvn+UulvE
I8Jb+42jO+/KnHSEk0UqeNywXMGyIuLrb5m/QQIGO+q+vUsQOz5uW55MdRzO2hQW7K6lPq0l5I5O
lFUAeU5dZn2Hn/zrHGxUtg3jb7Ew2HGRm9e6IOPF048XM6VikgNV3QAevXGPpwxiUMvPW11t/62D
vosExO2C3rtpaWnLPiOdMsvQLXkJDdfo+Y37hMm2CSDt0zSer6HMvZJyODkFsC7zUUJcutTiNpOT
bUacbvVEZgCW1V0e3QbfOBp7B+TFZRaUsxYDN46+a+c7SOKSk5JYTmlpqaGUIbVC975ICIKLXCdh
ZZCjNhesVURVIh5RNJAzQQ6M1GN7g2BLHIbcxvGbmcTt6ryAXDVkrSDrYOL2arnttRYQ9YlSsOJg
1bvP8x0kXARCJWpns+idEdupUZl+fEziep14kAdheNolBGnSJeeDFGMaCNFO10QGmgfB0FyBzgzG
ZXKtvvvg65gXfaYF5mETz0GxuB5HuHgLgif0qMfaMFD86yP0ayQMQrCGossshiL4LKM1PAsUpowk
bo57VGM0jDFrwvyw5/b2Y8bkKRTyDzPCFh0fhD//nwUL1N2ZOyM00rocSKSs6d0m4yKh1AJHUatD
QREcHNlYQH0sgttLf8X8FRJAJ+Hhuwvs80VKbmEnNR9DN9eETEvGJd7mjDYghc3CUGtymULrOYoI
xwfhoJBJCC08pqWWkal9BU7qpzfrcqR0wlk4t2/jQo8oRZSLl4Ar0lGb7sdib/zqjv83EkAmeZNG
zuW3MPgOijcU2G8toe2GwEfrfDFtcx8groq8BqwcM9rWpEQOIDweD0RRYldgpWRPH7XLaWla5xE+
Lq1vvHPN9oLAauvarjQqeewRAld2q2PaVDd+9Tj/jaRDIBzC7jrPV924ARLOZq/zsFYI/vDlChJa
TKOlYxupLgjaRPg8Um3wg2eKye6Do3wUNYgE4Lb7NslEHtbq4ItAN3bEVlfvs0578vWHl15E0YJg
VIdqd0wZL6f/srW/IAFxCx7Q+UFUL35xR3v7jgPMzO6NbUi9XuIGLo5wXIMH4OvvM3Fc6HvE3+PU
9k6FriNraoo2NqZdskYIM0PuElHAuaqCAt+7BsV1l3e5eCKoRCdjrc35tU+efL2XaWHxi6f8jARU
1/Dibqc0TZyPI4KWonp82NrYMYivSfOG+XyOZ00gn8nk4l6ZrImoVLvW1swIEiVl85rNz8KMw4xM
SGCxv5ZdshPZcEW8ajSRTH7PFyQu+oDocktL4tM5dX+dwPZn5i/Iokm+Jrlr+4oNRozMnSQ+hw+R
fiyzxh6NTZRM2dfwI4KYHO7wZnOFzpKY2aq7dgkIpziCA0J8z8FNDHOGJh8vrrU2LO/5p60U/4ht
HNAk2RnEwfJNibRva4yT010vsOXnrX2LBOQgGmAsS9UovXacvEC9igRBTMHBDvvnsCdDRmYntjC5
zM9cg9czjJuXXLo0e/6uhpUmw7FCs6EY4oCDa9wLWJtIXNyqNsDWoh4pDFyHhXaHHZ8Gi7XXJndS
eiecLDOF4M8n6C2SbsttczdVsLIAYLpbTZY92zSMX+QGMWSfAsUL/Sq5SaSEVx/V6A3khuoYnl++
PGaJQ3e3oaGhTbNmCoqjypnOw51jVtycnJwD+EE+CCGTszLGq5pAtHi5Wesq5pmCJ6nbQPCto7xB
AvQDnJKMWcM9nqtTsEfems8U5i7pxLEJsP/fFTiCQJDn1ijFxzDMU2LeL16cj9HXiHlx1mbW5pOz
LLfdXFw4M/svy6ruNTdv77jo6eKfK4R3VJmO82s6CsHe7cmpCbiDc3m3CH4bU94i5UnFE2aHmylf
2Ed9z00C0JQQbZfAYhD0cnHx5OKgv3GamSEFBVWxOD/T8OzJk3t1hvRP2izb/sl2+8QtXHSh/uF/
fZ1M1cTr8ASF4Xhu/I2xiUrg0HFtCfdUcheNu/Bw8uFQsPGNma+RxHV++ePUtWu/wracivpon0E1
qASzRsIYJjgw7s3hcnemlj/5+iQFld8w2ML0v3vSJsYhc6eHZGNfs82yvk31l/GFFanLv/pkbZUm
CnkYlg+J7pVmmvdDkE9YtiDgPUv3c+hX/8qYGo5/Y+ZrZKS4OkunwFQr7oKBcPWrUSE/TtiCoKvX
m9OmL9zG2oYyFrTOLr/kQcLxeiYzYWxrjL7DQWK3Kbp92/tKOBelXo+1agph5XAiw0eMHTOlZuP4
LSqNDzexqoaOnV2rtZC7pc85YxVX+gsSoIvFAe5qu4eY1ABMCcGyNg0UciAQGw4M076NVw45lavd
h05uHfO38gy6STrCiO6JCYA5KFipY3Nexxesw0N0mkOUsBye1HZbpGzaaOru3fs4rMZvEgu1l5m2
ZjQHJF3OzzC7Wyx4XQrOWwnI5fSNdtTocSUuFgaawNfXGxmtRlE+BF4PQuPGyOq8NonGmKMboyTT
eidOceg2rpDA6CPfTK1vltwXcnDOpimdl7BYLAemg9dPKzF/N/etPidcjvc3vdSb0jcsMKyFLs/0
ZZhqIK/9ZB6JFKnAoQzTUyIRH51OXAfPdaTPffSIQEIg0sYqY5/IBUHISmPs2da9eZr+DXv3f+iv
udrI5fGQ1vmz4c93Uir3GGfC8h1H24uUPhOsaQFHs6e5EAwaC94Ev9zmP2TP8EMONA2ZZWzFi+av
AwIJEMVZ4faM6IWSGpfERL1H50bWwSEujx4ZuRLMW2TjWmjUdW4aRXsfRzvkhbP0P9yf7ebmkqhX
MRTT/E1DeHj4/RK3BFjebtB+Tdm2XTeBy42bsktHsTaGEYjEDdZq+6GIgPfcLs29GC8izJxHoqgy
JCMjk5/S0TEWuI4XEohhq7WF0+Y/8uFDarUfiBzsKFvvT8mSsHTy9g6d3Lt3/8iZOKzpvn5ztCmD
oX/qK13HRyC9/UL7Hd74ss4KK4ifP9GvzBKauKQrQR4PU8KQPLKtOVl9hou/QSKTIJZoZuiBjx6q
zQ8RDieaYFiNHi+lY7NQ6EIuwXAu8/0aBdV4laS4IfxSc3TfEIV4zHBTfnd06hSDYWq3vSAQgUBx
uxxUNhxeq3skCxPpTfiB6Gjgs+cATBBBVeNR5VeW5dY49zUSQDDe8PGMmOIcHBFVbFaGJA7Cg8eN
4ozcRMoAtr2Iz9zHQdoeRpvaj2lk0pq3z0YblqwOdA3xNzYMD42DJEtmW6lBCArJxUWgsGTt2k7d
nRgvSJc2CCB8WoUq8poKvAbbGqjG30tzW5xDHCACWc2FFpr2eOdc5Agbor6oc50jFftnVlXZh4Bw
dpfrVfzjsGehJBDaFGYaPXvWRusUi6XzUHe2efthfeGBCxcOCNtYYRE4B5ceYHIkWpatnyzfW4xz
fcJcgpTY4MA1sUE7KFSVQhy8wqw1M4e4DeaROBSeEbUz6SLJe2oiYvHcFfzjYDc70ykRcK7A7iYO
aSjKCjL5EJZZ0Hn+rI1+nsPGoY1LLp395JPt9/k4M0Jjb7RxL8ol8tl60hHTw7OzNvqrrHJERusD
X2I8EBMbiGGsqJ1Cunqk1UyHKaUTyEgxlzRk5i7h3p5jl1lDq9280FfBI0OpJzB4jpzNhfiiBuMw
XRf/yvHoqvNnm5v1WVv1Nzarl539pkrrlmQnq+o9m9boAAGBvEhyNFyy3LDHkOVRrLxX+BLFQBCT
XxAXCpEd1oE5xbMZLCadQALx1QJKtJmOMEm60jw4hZcZZlXsFijY6O4Fx7k5xonlKJYrGe9nG2/M
1rc5f94mZmi/h354uHFUN7H6slnuNts/6aRa81EQ5Pv3pFZkb9S1N35MAYmwQ+Tdd5pQ8bW5dbDt
MxcmpznZ3YqQ+0iAWIwcKTDbA0ulo0GDnCaa+Wa9V4UgSw9HSxSb6Dva6SDGgw9N6WSn9sXYzM4u
/zBgxkE/VDiYEHhixDrvGeu+1qlwfz0GrX9hdud7NnsolBJj4+5xAJ6cmxMC/zDyBD6fC4Fto4O3
cPSdehKAN0hIM8PyOUy35Sl5sF8w29z8AbzOPkRg1VNQWb1Dig97ZnGgtoX3WX2z57+5dOnS/oX3
DXt8UABipm+mjFUsfJxJyVls7RhlmpHxyTd+Sv60n/dUeDw8XFPTBj9gBMHYbhOY3hy2Iic7IyP8
DZLOsTZbOw6XigkPap8MOpi+aBKsKdssONOlxTOI8PUfi5rIpqBQcWb08vPLll/qZm3sZpmqbxVz
uVw0YevehQs1rHJyeKJ8ne7OWZtpGCIeoHVmEZzbXyJSprsNwMoBHzjylv0XSfc7zSqIa5YUL6bz
dczWSmBC/4SBSOLyI44Zmt7/UvDKKVxpMJaa2txZ3nxykSenwSHm/LLzSwx18/zDN9pUMTZ7cjh6
MXv3ZrvRrpBgSNk2pKt/0sQTlLbAQX4qVZM1rY13KLgfhgcCJ4GHCterktlyFpEBkSJBiKLT+nWv
R8ypp0c01/yAoEIsTsgrjUQ+Cs7iDd/t3P7NbLPHqkRtCepVY/PN8uUn3UeSLhvcW7Syw6XYN/Op
Q8xW2hzNP4gyeN84quKhVs/QtkqIi2aBRTXG47wfJnRn/IhcGH4qa64kvXJaNgogBBL0jTFbu/jZ
6S4yu6zsC+65zbv7vYQWUr5RCA9+cPcsYVlnzFNJSckwc8TQZpnd9iX6eRzi6lSuC+GQNuubteYx
c9I3u7hkPq7QDZXsYRDC4pq42ueQYM74PmwxpWA5zh2CkFXlrfeZc7LDfHgeCWm4p61dbKQwpiXO
rd4iCFlv5FMTgiMpLoMYslLWade6rHX2bFvA4yOjvVtbqbNrD2ckd+rPNGE8FKIftHuydoaTc1sQ
6BK6/+FYJZazJSjEReGupT0K7I7Kh0v3jNUODMMtglVmZvvx79VfPyKspCOQhmG53YZzMxLCj2AE
PBTiJUys4SMnzJ+juGuHTv7GbrVaP2784Zgv5OE+QlnVrV91egHVXSdBWHT0xsk0szwU58J+a9pK
8p+teZSTxOX7Eik8bVgQZF+hvCCSwDAMcYGtGWkO4GcFazfAdJIYgrzvOi+b5OXmYtd4bXxwUSBP
2e8WgWiSK4T4vkMkEMxKYIStcTC0PwFWUi5f5uIoRdOx4HSZDw9uPDrKkk1oRsSNJyz0HtvD6Fi/
2ZePvuT7JRptACRRj8EL0/0p1z2heq6mmVMfc7Gp5XXCynmkodMsOOBYywODHIN4risxTC9sBeJP
Tg3Ac0CoSCpFCh/QombVxqMIRqiGW3JykpgJeiNxA3qDPFxToQhzi9LatseD5rgwZP2Ejn8liCAH
9TiCYuPu3OrdwTVG6ee+KFpl1pXKWWzqnP4Wmdplwwtkj6GwiXkKHDKHKbUVK5IaZOVDm0aJOlIl
L4JhTcOzVWHFMOi7xsXlexKzjvAooRG5J7s3umDrlUSXfG+PygbrOPhcaD4jmJYA6hmRkJcTPcXV
097Tw/x1cxv8zZx6SATy/ddI0Lun6zzoo2CQEG97P/h6YstrpEbBbLOby4nnL2ElNqnsjTl/uIJ3
7U7e8uZoY00mbnBDztdWdyXb2Z0ifIKZwvD3CD1BhG6oeJN1mHH4lOMkF5pSTJdOrxkWosOH0CMZ
zqYRET3J8xvbSAcHorpsID91jwTzV7wPmwQH8RzZKwSUidTuMTfn8hfefGiLOLSvj736ct2Gb87q
D4XR+KTPbt6u39Cv20dV70E5fNDEXudxtmNJXBahrKNeY8bqsSycnshexyucW4dlpc+dO5L2JK13
n2ny+4CcFC9HBqMWzCJ+VHsJZs3+AjIJS4eeKTYgm+zza3036ffJFJrpHHyjVh/7+7o6z5jZiW7G
9+BnbquZdTjWdv8Wa8yHD1L8jRLi/AIDfYs9PSEECxiisl5yua4d15HClelKYfrKwiNmT8o/jij4
GUmZKJ/FfWSGok3BjvuQFPMQeCwKJZzElwdCWR7Wbo5uYx6s5r6t/Bzm5gnjsX5vPu6aOnYkAod4
SlGll56jo7H9bj4HYi5a9KDGWzIgEumQJyq53MKQfcDL/1lE6AoYeMbUSd3rpbZcAdAJK0EJy2wZ
ieROHXNJLJZCfmEhsLZiGl5j7gNxRkeFWd5bHWJO6jRXhRJJcklwYjEIQbhrX+oYYRJOpFmgr7lC
97GfVzEfPPf9j4zQMXbY8+eMiWGkHuVYGFx78OAOykNBq2eyCdIZ2dfXIueREKXbbO0+3i3Z1BUS
tIUTp7cZ3kYd4SV06IH46AYUO8M6+SJm74fbH/JHNY0Dh0EOB0I23OpzD/cOXPzll4NowNTj0PGF
CymSbbWZ1hI/RllwgLKWEYSM8vkWBnJQVVQEFhUJvfb4klhmNkX011ZWsjIsVyB5akYxl1kPCbVr
0HFF8KAw8RURKjh8ksfT/Usu7V+yzPCINttwFAZRItKATTNTuhvdXiVu3tzfsHFhbsCUTt5De6r7
DA8LWjOQyxt0GQD4QqzeQC5XyYlVhMEgTDE0s6l/gyRVtFr+HzzTwzjHvbglQmh0HJUoytbwEo5r
b6KcWeXvQQnVaPjw5PYMhbHpRvgOofQqYV6RMlQnRivzaaj/xETDwrnAMeOKvbqKaMkuAYwR7+hg
/2SLq54IshC/XVisHFxY4LR93kpCJcDCW81WwHl998Gky5+GYCfWnxPqsvUwXxdaSbiOO4NG0z5B
Y+l/o5WtoXUJvqbCeNcTD5YCwodVy/e/aJjJ3vgo5ccHfL9toXkVujr/vCAllI0NKw/B6Wy2H6+e
KI6ID7H8XmMpstDObDkhz5KAG2LYr8rMh5cSdSugcp0xjffgf34o/SGIgzPnaBUOEyPvf/lKYZYx
oR3gU7zz7osgpN62KMVeK7uhocHax6RGcyyq+dKpikMQiKNBtTR2xzpY/jnvedT/8WcXREVwmRAm
wlqqLerxCwYHQu0Um14nIgTSt6/ciDfoJlMzOsz1lNjnsXQAhLh4hN4znef8upydVLNVolyRnsZW
QzO3OAjnvuyvMLSfeKpNEYq8RoIN7ZyCP+OOtnARMEjPaICH3MEcdS18M7oqcC5nNMRfAgikCG5h
cHnGLsrrNbK0nd7WnezIRwbc7BO/KOSBdyZRWKTn5trCTDGqRXF+sb6TqRXMGzDyP5VaLpvBUASC
zx3RGcvTlOQquczFHu7kzUkIhBC5EIyJlEQEDOnwEaxxMg0AmVc+crHWPiTYt4FpcUF6LGOKFEkg
fyKQQn1qVBAR6NpQQaSYXnRHeSKYzZ5r4R585cfN4a9qPe2I1yP8gYWnYqrsp3P5xcMY7LuKohFG
2zNjBXI52aYaXj7egwMh6/gQTCRbvI+O5/IZZZl8fsLxmoOS4B83HBxEb1vgt4g6aNd8gRB5o4hQ
oWQjOXVEOSlvb28v4pmUhfkEgYgUnQvBI0b6yu16k6Qb0OL9rA+XfIGAFJpbfoD1WKW/OSPMfEJz
jeaQ3cnsbuPuMPaabSl0cFL5KDgQ9mUHF3N6w9jX4XFzlxZQCOVI+VpU/6Q3ZdAFW2zGsJx18/JF
FGwkzjRcWEMbJ1LaIjmY6JKgwXKwCwcvj+6+EucxxWiolvL3TETpTIyFaoR7iLYxZOwRzT678x+G
7mm27w61ThTHorzd6wuBcLbrZaikzBFXnrBPgTE/L5xL6akKOPAGedQWaot21mderi9SNcJgEXA9
sUmJKWNtYdU0o/PF0/ApUZEFydpR4ktbfa6ope0WqyTASMchm9EgxET+I8yI7Fmi6G97PiOSbEu5
YMtrMpqDN/R1rEiKMFSHAm32jCbQJIyGIyfMtPgXXiN/KrVAc4csO89cvqhSqYQvUfjgysLcOypx
Y5FQ+fy9tc9oR1C0ujLTON9fD6ILm8KHjg3A+7qj854ZZWEoCa9j8vN7HnPSjVJMjHa3HBXDAy7j
wINyzcuXV5MdXsKB5BNKbITsUuRpXN4svECIBfOFuy0d+EdV+RT/wG30pY8RUUPvTkENpKCIZoTC
/u5RBTNCXDyuS564L+JBnAFa4igAx0XrJK5c2UIomlJbMXeQNnHrGGvCOvARBKGfu27ObTM+zkyq
NJR5Gdz88X+v8eL6Tr/iEE2QPcB8D2weSZdHXouhmtYKPn0lCnJxGeTxFx2qrgety9ZzBI+ISm9c
yBHUBpsTrQDeHahyPO7Qg91+zRv7PfelJxajKPc2xJMs6ene4xMUR+hPha7XMWUJeS4nSVOmg1+4
+f0/ANhf5nymt7O8bzx+vmUyL8LQCTMJ3aeiaM58D29w5Y+e4LpFX8IDYcHruDv4fsfN/QhXvDcw
qOSB4DUIy8UOutZYn9ooBPlz630JnQZB2/boOOoJQUQgteWtmxuFJWFhXtzFwYqFObe/P4ODj1jU
WatMmemtptj5TsLPUlNAn7pv/Nx6RyGc3vEARBc9ODeiPQ3bWmzhrKvRywJROgzAqiI5Hdw8ZcK7
lqKtozMTJ0wYyQILXUNeNqjVPsN8tF5qceHRbk8UG2GXQDmry55Ncrzc9Jh8H4X9kggiXs7weL+o
W3S5OOtWVcZG8ITbNG84cBAFN6QE6gkx1GLHFgR4tNKoEJTLbcW2cjEQ1FF2AoSwEmNdnQpNxzXg
uh87jMbzWToSEOW0XLT9524vEDzUESbBOcfZm0DfZ8cpKEVX9oyy31RBqMCvm/9vlEq5GPHdXq71
aNpNTzk44slD4bhEPUw4usWWAw2DhYk/pvPga7ZEQIAP0cJOAGBc3hprRpTuiB+46KNDCbUzM0NG
KU1EHc35wouI3wdXmihBDQUNn54qZ8RRmp0UGlk2soleLvh6huRncbQaO2VWEFAUyJC81PbBprPA
3cd3o0Tmr9xdEwQLXY18RETrSiwvQscrrAcLvcdBTu0YKwDEt7SAEm3HxzpsxVS+34kRCijgCqTE
A6ZEOYVyaE6WPpWnWp2i4/xazSo43DdS988SsAH3/jIqjcPRtvaxdhk5nsgXBiYOgjB/JLhm+I4Q
DLJ2DMGIHvU1ftMM7fhHx7fxOcL7Ez4gLuCCWdus98zcyj82Zj9RIgJX7PtByi1C9E73NXmZd703
rkNNW5vHr0nu/DjnjTb6M1J8Q5X7PIzto/Ry7F5O7bI33gxxxqLyjlUptCelFlKQJ6LZ624TAtUc
lFCk9YystYYmHI0GwYQvSIQ+q8Ep4k2GuND8lAPGbIVpA3T7wj9XXueZKNQffrO0nBpN2WtprodW
V/8a+RP9RiMv94RCtwns3ap/aqzE8fiZLN8oKpk8JiR6lKODQp7QJ4zNMIkD53M6opJwG0lMZyLn
Ojp6V+kPsc6gUGKH3iA2HayY6iYzhPUWpaUw5mNO8/jOsiAqPHRZGmMabn9Hzicu2hv3lKIJRT6X
6T+1EGvpfca2Fh5hs60J/4D42mEV51Bg2oVNVht5woS8D6Jb6i4mcbnvs1njJ5s7y4KvuBxPwTAv
hqNfbltUMB+vbweI4un7iCOyNKr++AszM+1c4OcO8c+tmdKjsRi2TTFRjHsdDz4DotsU7O+FKVeY
COQ5sI1lT2XoHQIwHy0qucM6ZFAIE8qCAIEw6zJzhyFDe8bmz0ZSeNBm82BPnrA/zJoDQYjgtq2U
C6xTkFM99ra22njxkJ+be790g47ewLBca3s9Us4VtnkKp6m/rIOECJgtkEl//mOd7qHu4HQExsZL
3O3ZCoZ2yO6UWp/8bicqQ3uTCTHjkwTypq+41ASBXmsSA0lgQuJ8jmQhlnKPjIXmdZoRmdwvnZl/
T6gBjSrivxkriFbSHHu9FS+XqKS50nqup17JV3njItFzWs1BKYLkisafazuasxVR6tOnyabHUMIh
BNIDu/wc3UamUZB0fP05hDvtWGacgEstbOkIBw2YTVOPFdPl/9Fmm28jFIGotrpAE2euNu42eSkc
na9m+SnWFdb9IKiEm1KMAiHpJJ9QyuDhdSl+PtraPkFcpKVFKhAg+8zLRl6CWa4JgemCfV96VxiS
dbO41+SEiOEbY2l2N4FX/TvNxJ8AsbwF1MugGmvw+dnksjkVCNXLpahkz8YpPa6FgUERluIS0rLD
Ysc/V6woBIlxIwQALhigENSy6BBvMOw4JjRZHZwO4u+vXMQXLU8uaEChIiXcNiVL69ybFfvWQf7t
l2+6UHK6+EuaPXV7KLbv/3X4wCpbWxV4cECy0b0WajGwaAHjXGpIti0PajYnOuqFP2Wx3O+m2k8d
om8Im0Avej6fqf3o0/ezelk/vs+hDH239ElVKMbBI2ycZfaJL+HGX/X5f93+JpoXcpKmqUyLgmxp
U96ztY0VDi8KIUrxfgw5UA+TvE/4NNVLN0wLp0P0JhRkskKmsHf5RzxoLTPh4olsx/dvC2rvPrvC
JdFklt85U7WbQNKIpbOp9TAcG//aqDfrnSa/3FYO8EtMqUMioiK0tbWFROMpCf0Vei4/PpBC/Eoj
Wj9m2wJBREQgjaxJ8bWKIPExWAwO2hsXJ61+dYibxFwv6yXayGyZnb4uOTiOdKTHzLTbF+b9mvgu
ksgP6sG4EnsqawaW7hBfRCUePj56/Vj6//64BVrts8a8RihtATEMbnmwCIOVSiWGqWzFCI9WVpJU
x8VxfLH5M2Yli2x6cj/q66Itym5NK2DVCrF3B9besZLISYgo0FRiL+szAZOk9egII7824BEK3xkF
W4xq9DoC0Xrw0Ym56198+kOsSnVPpYptFxdB0GCU+rOcukU1VsxAdw0dWWpepWQSe1ms0elkNjVD
pKd/MrAxnwchIC93Tw/ZrZ8oSpDNYRV5QRCCQygXKfQyMSFa7LAe2zzwyx2NqtjYRmJdUGFQvcD6
9DO8LrBMh8msMC13/mavTpQrCnqkUqnRtURh+JtRmHet/OknGKarYN5u4/IC4k7gRri456HXbtcT
ap1gvrEG4bxpN2oDBuyKj1cRdqoa21VCvFrg4eTUUPetzMyDu7Cg64mlM5mQOHxfOJnqzPzOSN5v
kYSdYrlKOb7MiUorxhGvbt3rgFTKCfr0Hy2ERlBUD51g94zDQPW8eiunF6mIgAFduFy8fYGph0O5
87OIpiFiGM85ehzVuOskY0l4xG38q8P6nyf2rXvayiMj/RjJS/91iS8Icjz+RV3dYk3dqU0oGN/Y
eDWTXDCkmb9qnSeJRFwD6LTJdb6Kh+0u6PrOsssp+RK8wXX9R1duUpa3yuzXPIIbf2dI7T+sfJ3X
2tLx2ubkrgxHP3DY9cdX33t4zPjXmBD72Hh1hJyqYJPL2PbGURNTU4yw9XMtSgwW3k1bajl716ng
IICS+KiHe7mZuwYGx9/4W+NiBFMsp3OhmbE+tVPfx3V1B1dbu+tOhBmdgwlk3TOZx8fff7+6P2Tz
iLWenjaRQ3JVd1SIg9l35yutnikC+ShPGG4qs3f3wMA7f3cojmACdK4U4ft0ZyRHaUbgoGgTjaE9
gBJWqvBnCgqSdPVq9a5d1Qd27dpFDKfUy+MbAQ1CiTzC/HaNFyqUZKudDmd6oSD8+/OGv7Oxr+9b
qZS+CwttznAye9FQCQNYE4ZCd2JjY/ESdTiUdPW2hUX1rmpiYUS23ljaGGllSMSyKzgTJdokZHVz
HtEIAv+bAcd5JgITszuSY7PEkJuxHgkAhXxQHhurAksUpoy5z0giyfjMwtqZ2v7EmhVAY3w86G2o
WP8t0+OxIVvhdqItl/fbC+AP7thfH2fg84OTKgCmZLubkmWG/lkggBC+qIIaok3JbIVxTwa1nPig
hrHZ6XB8fPwusInie+SFussp1T8OBIjQ8Qc2/uZaf9eDPv+80cCgEZRsPN/a5by+Jn2UKEsAJG7m
q7w9j4ccaUbaJ/T0Shr6TT4n1HO4FK4dM1YUVC1bvjALpB/9zVDaOy/8B8/yjYcSM3Lt7fHI5O6V
wWldZp0v9B96ROBEolV64WhkJBBZGhkZmXRVkHQVj/B6aKMmq3Ur9rfQI4mJ+j8dYf8z5Dy0vV1M
h+GXhdkvTGWnyU7qKJa/XzGJAxKSHAhxhoO8jzT4V7CiFE5U04mSgLgsIPIvgH+6sW8spYvp11Ae
LCzeqckwjrI3K3cqb63arjXfStQyNJUlOyd3LZD19Fnv8RMJMQQkpKQ/fIi/F6J/exu+3V46ceBV
MMATigZ8HmrZEQen3LmLWKe7yomRpbVV3bdC548oBtLp0r8E/rWVb02VHz1aGg8TCZuyabr2+fM9
+UPE0tEZGnqcPy5SEg5FRAx5/N8Yzf9tIvK7Vr6BRpaWljYSYa20NHI+iPAwTIgJiZFYJY/41dGj
F+Lj//YfW/z58XnHUQEgMj7+aGl7qZhoQBJBhTAqPp54J0cbX7+PP36/v/nN30e+cRvCwnnVQFV6
48ZRAkc4yn/9Jyz/HyE/PlvTZ7lRAAAAAElFTkSuQmCCUEsBAi0AFAAGAAgAAAAhAFqYrcIMAQAA
GAIAABMAAAAAAAAAAAAAAAAAAAAAAFtDb250ZW50X1R5cGVzXS54bWxQSwECLQAUAAYACAAAACEA
CMMYpNQAAACTAQAACwAAAAAAAAAAAAAAAAA9AQAAX3JlbHMvLnJlbHNQSwECLQAUAAYACAAAACEA
TsenhvkBAADPBAAAEgAAAAAAAAAAAAAAAAA6AgAAZHJzL3BpY3R1cmV4bWwueG1sUEsBAi0AFAAG
AAgAAAAhAKomDr68AAAAIQEAAB0AAAAAAAAAAAAAAAAAYwQAAGRycy9fcmVscy9waWN0dXJleG1s
LnhtbC5yZWxzUEsBAi0AFAAGAAgAAAAhAO99P9cOAQAAiAEAAA8AAAAAAAAAAAAAAAAAWgUAAGRy
cy9kb3ducmV2LnhtbFBLAQItAAoAAAAAAAAAIQBGRjbdAi0AAAItAAAUAAAAAAAAAAAAAAAAAJUG
AABkcnMvbWVkaWEvaW1hZ2UxLnBuZ1BLBQYAAAAABgAGAIQBAADJMwAAAAA=
">
   <v:imagedata src="/images/0.표준_견적서_31529_image001.png" o:title=""/>
   <o:lock v:ext="edit" aspectratio="f"/>
   <x:ClientData ObjectType="Pict">
    <x:SizeWithCells/>
    <x:CF>Bitmap</x:CF>
    <x:AutoPict/>
   </x:ClientData>
  </v:shape><![endif]-->
                    <![if !vml]><span style='mso-ignore:vglayout'>
                        <table cellpadding=0 cellspacing=0>
                            <tr>
                                <td width=14 height=14></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><img width=81 height=79 src="/images/0.표준_견적서_31529_image002.gif" v:shapes="그림_x0020_2"></td>
                                <td width=8></td>
                            </tr>
                            <tr>
                                <td height=17></td>
                            </tr>
                        </table>
                    </span>
                    <![endif]>
                    <!--[if !mso & vml]><span style='width:77.25pt;height:82.5pt'></span><![endif]-->
                </td>
            </tr>
            <tr class=xl6331529 height=22 style='mso-height-source:userset;height:17.1pt'>
                <td height=22 class=xl6331529 style='height:17.1pt'>병원명</td>
                <td class=xl6431529>
                    <%=order['기관명칭']%>
                </td>
                <td class=xl6331529></td>
                <td class=xl6331529 colspan=3>사업자번호 113-81-58831</td>
            </tr>
            <tr class=xl6331529 height=22 style='mso-height-source:userset;height:17.1pt'>
                <td height=22 class=xl6331529 style='height:17.1pt'>전화번호</td>
                <td class=xl6431529>
                    <%=order['수신자연락처']%>
                </td>
                <td class=xl6331529></td>
                <td class=xl6331529 colspan=3>서울시 구로구 디지털로 29길 38 701호</td>
            </tr>
            <tr class=xl6331529 height=22 style='mso-height-source:userset;height:17.1pt'>
                <td height=22 class=xl6331529 style='height:17.1pt'>견적일자</td>
                <td class=xl6531529>
                    <%=order['작성일자']%>
                </td>
                <td class=xl6331529></td>
                <td class=xl6331529 colspan=3>담당자
                    <%=order['담당자'] || order['작성자명']%> (02-866-4582)</td>
            </tr>
            <tr class=xl6331529 height=22 style='mso-height-source:userset;height:17.1pt'>
                <td height=22 class=xl1531529 style='height:17.1pt'></td>
                <td class=xl1531529></td>
                <td class=xl6331529></td>
                <td class=xl6331529></td>
                <td class=xl1531529></td>
                <td class=xl6331529></td>
            </tr>
            <tr class=xl6331529 height=22 style='mso-height-source:userset;height:17.1pt'>
                <td height=22 class=xl6331529 colspan=3 style='height:17.1pt'>귀원을 최고의 파트너로
                    모시겠습니다. 감사합니다.</td>
                <td class=xl6331529></td>
                <td class=xl1531529></td>
                <td class=xl6331529></td>
                <td class=xl6331529></td>
            </tr>
            <% var total = 0 %>
            <% orderProducts.forEach(function(product){ total += (product['수량'] * product['제안가'])}) %>
            <tr class=xl6331529 height=68 style='mso-height-source:userset;height:51.4pt'>
                <td colspan=4 height=68 class=xl9331529 style='height:51.4pt'>견적합계금액 :</td>
                <td colspan=2 class=xl9431529>
                    <%= total.toLocaleString() %>
                </td>
                <td class=xl6631529>(VAT포함/원)</td>
            </tr>
            <tr class=xl6331529 height=26 style='mso-height-source:userset;height:20.1pt'>
                <td height=26 class=xl6731529 style='height:20.1pt;border-top:none'>번호</td>
                <td class=xl6731529 style='border-top:none;border-left:none'>품목</td>
                <td class=xl6731529 style='border-top:none;border-left:none'>모델명</td>
                <td class=xl6731529 style='border-top:none;border-left:none'>수량</td>
                <td class=xl6731529 style='border-top:none;border-left:none'>소비자가</td>
                <td class=xl6731529 style='border-top:none;border-left:none'>제안가</td>
                <td class=xl6731529 style='border-top:none;border-left:none'>합계 (vat포함)</td>
            </tr>
            <% orderProducts.forEach(function(product, index){ %>
            <tr class=xl6331529 height=26 style='mso-height-source:userset;height:20.1pt'>
                <td height=26 class=xl8031529 style='height:20.1pt;<% (index == 0 ? "border-top:none" : "") %>'>
                    <%= index + 1 %>
                </td>
                <td class=xl6931529 style='border-top:none'>
                    <%=product['품목']%>
                </td>
                <td class=xl7231529 style='border-top:none;border-left:none'>
                    <%=product['모델']%>
                </td>
                <td class=xl6831529 style='border-top:none;border-left:none'>
                    <%=product['수량']%>
                </td>
                <td class=xl7131529 align=right style='border-top:none;border-left:none'>
                    <%=product['소비자가'].toLocaleString() %>
                </td>
                <td class=xl7131529 align=right style='border-top:none;border-left:none'>
                    <%=product['제안가'].toLocaleString() %>
                </td>
                <td class=xl7131529 align=right style='border-top:none;border-left:none'>
                    <%=(product['수량'] * product['제안가']).toLocaleString() %>
                </td>
            </tr>
            <% }) %>
            <% if (orderProducts.length < 20) { %>
            <% for(var i = 0; i < (20 - orderProducts.length); i ++) { %>
            <tr class=xl6331529 height=26 style='mso-height-source:userset;height:20.1pt'>
                <td height=26 class=xl8031529 style='height:20.1pt'>
                    <%=orderProducts.length + (i + 1)%>
                </td>
                <td class=xl6931529 style='border-top:none'></td>
                <td class=xl7031529 style='border-top:none;border-left:none'></td>
                <td class=xl6831529 style='border-top:none;border-left:none'></td>
                <td class=xl7131529 align=right style='border-top:none;border-left:none'></td>
                <td class=xl7131529 align=right style='border-top:none;border-left:none'></td>
                <td class=xl7131529 align=right style='border-top:none;border-left:none'></td>
            </tr>
            <% } %>
            <% } %>
            <tr class=xl6331529 height=22 style='mso-height-source:userset;height:17.1pt'>
                <td colspan=2 rowspan=3 height=66 class=xl6831529 style='height:51.3pt'>기타사항</td>
                <td colspan=5 class=xl8131529 style='border-left:none'>　</td>
            </tr>
            <tr class=xl6331529 height=22 style='mso-height-source:userset;height:17.1pt'>
                <td colspan=5 height=22 class=xl8131529 style='height:17.1pt;border-left:none'>　</td>
            </tr>
            <tr class=xl6331529 height=22 style='mso-height-source:userset;height:17.1pt'>
                <td colspan=5 height=22 class=xl8131529 style='height:17.1pt;border-left:none'>　</td>
            </tr>
            <tr class=xl6331529 height=22 style='mso-height-source:userset;height:17.1pt'>
                <td colspan=7 rowspan=3 height=66 class=xl8231529 width=984 style='border-right:.5pt solid black;border-bottom:.5pt solid black;height:51.3pt;width:738pt'>비고
                    : 견적유효기간 견적일로 부터 7일.</td>
            </tr>
            <tr class=xl6331529 height=22 style='mso-height-source:userset;height:17.1pt'>
            </tr>
            <tr class=xl6331529 height=22 style='mso-height-source:userset;height:17.1pt'>
            </tr>
            <tr class=xl6331529 height=22 style='mso-height-source:userset;height:17.1pt'>
                <td height=22 class=xl1531529 style='height:17.1pt'></td>
                <td class=xl1531529></td>
                <td class=xl1531529></td>
                <td class=xl1531529></td>
                <td class=xl1531529></td>
                <td class=xl1531529></td>
                <td class=xl1531529></td>
            </tr>
            <tr class=xl6331529 height=22 style='mso-height-source:userset;height:17.1pt'>
                <td colspan=7 height=22 class=xl9131529 style='height:17.1pt'>㈜네오소프트뱅크<span style='mso-spacerun:yes'>&nbsp;
                    </span>/<span style='mso-spacerun:yes'>&nbsp;
                    </span>TEL. 02-866-4582 / www.neochart.co.kr</td>
            </tr>
            <![if supportMisalignedColumns]>
            <tr height=0 style='display:none'>
                <td width=63 style='width:47pt'></td>
                <td width=188 style='width:141pt'></td>
                <td width=378 style='width:284pt'></td>
                <td width=56 style='width:42pt'></td>
                <td width=99 style='width:74pt'></td>
                <td width=97 style='width:73pt'></td>
                <td width=103 style='width:77pt'></td>
            </tr>
            <![endif]>
        </table>

    </div>


    <!----------------------------->
    <!--Excel의 웹 페이지 마법사로 게시해서 나온 결과의 끝-->
    <!----------------------------->
    <script src="https://cdn.rawgit.com/inexorabletash/polyfill/v0.1.41/polyfill.min.js"></script>
    <script src="/components/jquery/dist/jquery.js"></script>
    <script>
        function copyClipboard() {

            var elm = document.getElementById("0.표준_견적서_31529");
            // for Internet Explorer

            if (document.body.createTextRange) {
                var range = document.body.createTextRange();
                range.moveToElementText(elm);
                range.select();
                document.execCommand("copy");
                /* alert("Copied div content to clipboard"); */
                alert('클립보드에 견적서가 복사되었습니다. \n 엑셀을 실행하여 붙혀넣기(Ctrl + V) 해주세요.')
            } else if (window.getSelection) {
                // other browsers

                var selection = window.getSelection();
                var range = document.createRange();
                range.selectNodeContents(elm);
                selection.removeAllRanges();
                selection.addRange(range);
                document.execCommand("copy");
                /* alert("Copied div content to clipboard"); */
                alert('클립보드에 견적서가 복사되었습니다. \n 엑셀을 실행하여 붙혀넣기(Ctrl + V) 해주세요.')
            }

        }

        function CloseHelp(){
            $('.order-help').hide()
        }

    </script>
</body>

</html>
